/*fonts google api använder web appen*/
@font-face {
    font-family: Rubik;
    src: url(../icons-images/fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../icons-images/fonts/Montserrat-VariableFont_wght.ttf);
}
.circle-load{
    width: 15vw;
    height: 15vw;
    background: rgba(187, 197, 201, 0.6);
    border-radius: 50%;
    margin: 2vw;
}
#circle-start{
    display:flex;
    flex-direction: row;
}
.rectangle-load{
    width: 900px;
    height: 500px;
    margin: 10px;
    background: rgba(187, 197, 201, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.rectangle-clickable{
    margin: 10px;
    width: 500px;
    height: 250px;

    background: rgba(187, 197, 201, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F7F7FE;
}

.button-blue{
    background: #283F94;
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFF;
    font-style: normal;
    border-radius: 5px;
    cursor: pointer;
}

.button-blue:disabled{
background: #9AA5D4;
}

.button-light-blue{
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFF;
    background-color: #0493DA;
    cursor: pointer;
    font-size: 30px;
    padding: 2rem;
    width: 90vw;
    border:none;
    border-radius: 10px;
    margin: 1em;
}

.button-light-blue:disabled{
    background: #9AA5D4;
}

.icon-background{
    width: 34px;
    height: 34px;
    content:center;
    background: #283F94;
}

.text-input{
    border: none;
    text-align: center;
    margin:10px;
    height:4rem;
    background-color: #FFFF;
    color: #0493DA;
    border-radius:5px;
    font-family: "Rubik";
    font-size: x-large;
}
.text-input::placeholder{
color: #6B727F;
}

.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    left:0px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #F7F7FE;
    font-family: "Montserrat";
    width:100%;
    height:10%;
    background: #283F94;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

#header-center{
    flex:9;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    height: 10vh;
}

.bottom-menu{
    position:fixed;
    bottom: 0px;
    left:0px;
    background-color: #F7F7FE;
    width: 100%;
    height: 10%;
    border: none;
    cursor: pointer;
    
    padding: 3vw;
    align-items: center;
    justify-content: center;
    height:auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: "Montserrat";
    text-align: center;
    font-size: 2rem;
    color: #6C737E;
}

#bottom-boxes{
    flex:1; 
    text-decoration: none; 
    color: #6C737E;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFF;
    justify-content: center;
    row-gap: 20px;
    justify-content: center;
}

#forgot-start{
    font-family: "Rubik";
    color:#1D1D1D;
    align-items: center;
    padding: auto;
    display: flex;
    flex-direction: row;
    margin:1vw;
}

#title-start{
    font-size: 50px;
    font-family: "Rubik";
    color:#1D1D1D;
    margin: 1vw;  
}

#search-form{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1 1 1;
    column-gap: 10px;
    position: initial;
}

#headform{
    background-color: #283F94;
    position:fixed; 
    top:0px;
    left:0px; 
    width:100%;
    height: 1/3vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

body{
    position: static;
    margin-top: 20%;
    margin-bottom: 12%;
    font-family: "Montserrat";
    font-size: xx-large;
    color: #6C737E;
    background-color: #FFFF;
}

.contbox{
    position: static;
    display: flex;
    flex-direction: column;
    background-color: #F7F7FE;
    text-align: center;
    justify-content: center;
    margin:10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

#innerbox{
    background-color: #FFFF;
    height: fit-content;
    width:33%;
    border-radius: 5px;
    align-items: center;
    padding: 3%;
    border:3px solid #E5E5E5;
    margin:10px;
}
#loyaltylvl{
    font-weight: bolder;
    color: #2B3134;
}
#extras{
    background-color: #283F94;
    color: #FFFF;
    width:10%;
    border-radius: 100%;
    margin: 1%;
    padding: 1%;
}