/*fonts google api använder web appen*/
@font-face {
    font-family: Rubik;
    src: url(../icons-images/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../icons-images/fonts/Montserrat-VariableFont_wght.ttf);
}

.circle-load {
    width: 15vw;
    height: 15vw;
    background: rgba(187, 197, 201, 0.6);
    border-radius: 50%;
    margin: 2vw;
}

#circle-start {
    display: flex;
    flex-direction: row;
}

.rectangle-load {
    width: 90%;
    height: 25vh;
    margin: 10px;
    background: rgba(187, 197, 201, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.rectangle-clickable {
    margin: 10px;
    width: 50%;
    height: 250px;

    background: rgba(187, 197, 201, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F7F7FE;
}

.button-blue {
    background: #283F94;
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFF;
    font-style: normal;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2vw;

}

.button-blue:disabled {
    background: #9AA5D4;
}

.button-light-blue {
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFF;
    background-color: #0493DA;
    cursor: pointer;
    line-height: 2em;
    font-size: 2vw;
    width: 90%;
    border: none;
    border-radius: 10px;
    margin: 1em;
}

.button-light-blue:disabled {
    background: #9AA5D4;
}

.button-light-blue::after {
    background: #283F94;
}

.icon-background {
    width: 34px;
    height: 34px;
    content: center;
    background: #283F94;
}

.text-input {
    border: none;
    text-align: center;
    margin: 3%;
    width: 70%;
    height: 2em;
    justify-self: center;
    background-color: #FFFF;
    color: #0493DA;
    border-radius: 10px;
    font-family: "Rubik";
    font-size: x-large;
}

.text-input::placeholder {
    color: #6B727F;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #F7F7FE;
    font-family: "Montserrat";
    height: 10%;
    background: #283F94;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

#progress-bar {
    background-color: #FFFFFF;
    height: 50%;
}

#header-center {
    flex: 9;
    display: flex;
    align-items: center;
    margin: 1%;
    justify-content: center;
    height: 10vh;
}

.bottom-menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #F7F7FE;
    width: 90%;
    border: none;
    cursor: pointer;

    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    height: 10vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: "Montserrat";
    text-align: center;
    color: #6C737E;
}

#bottom-boxes {
    flex: 1;
    padding: 5%;
    font-size: 60%;
    text-decoration: none;
    color: #6C737E;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFF;
    justify-content: center;
    row-gap: 20px;
    justify-content: center;
}

#forgot-start {
    font-family: "Rubik";
    color: #1D1D1D;
    align-items: center;
    padding: auto;
    display: flex;
    flex-direction: row;
    margin: 1vw;
}

#title-start {
    font-size: 50px;
    font-family: "Rubik";
    color: #1D1D1D;
    margin: 1vw;
}

#search-form {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1 1 1;
    column-gap: 10px;
    position: initial;
}

#headform {
    background-color: #283F94;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 1/3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1%;
}

#progress {
    display: flex;
    flex-direction: row;
    background-color: #F7F7FE;
    height: 100%;
}

.head-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    margin-bottom: 3%;
}

body {
    width: initial;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-family: "Montserrat";
    font-size: 4vw;
    color: #6C737E;
    background-color: #FFFFFF;
}

a {
    color: #0493DA;
    font-weight: bold;
}

.contbox {
    position: static;
    display: flex;
    flex-direction: column;
    background-color: #F7F7FE;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 10px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

#innerbox {
    background-color: #FFFF;
    height: fit-content;
    border-radius: 5px;
    align-items: center;
    padding: 3%;
    border: 3px solid #E5E5E5;
    margin: 1%;
}

#loyaltylvl {
    font-size: 4vw;
    padding: 5%;
    color: #2B3134;
}

.extras {
    background-color: #283F94;
    color: #FFFF;
    width: 10%;
    border-radius: 100%;
    margin: 1%;
    padding: 1%;
}

.textflex {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.contservices {
    justify-content: left;
    padding: 2%;
    flex-direction: row;
    font-family: "Montserrat";
    color: #6C737E;
    font-size: 4vw;
}

.alt1 {
    text-align: center;
    align-content: center;
    flex: 1;
    height: 100%;
}

#dates {
    flex: 2;
    height: 7vh;
    font-size: 50%;
    padding: 1em;
}

#class-trio {
    height: 40%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#in {
    background-color: #FFFF;
    width: 33%;
    border-radius: 5px;
    align-items: center;
    border: 3px solid #E5E5E5;
    padding-top: 3%;
    padding-bottom: 1%;
    margin: 1%;
}

#service-overlays {
    position: fixed;
    overflow-y: scroll;
}

#checkInBags {
    display: none;
    justify-content: center;
    text-align: center;
}

#seats {
    display: unset;
    justify-content: center;
    overflow-y: scroll;
}

.seatgrid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1;
}

.seat-row {
    display: flex;
    flex-direction: row;
}

.seat-icon {
    background-color: rgb(137, 203, 244);
    color: rgb(20, 154, 231);
    border-color: rgb(20, 154, 231);
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    height: 2vh;
    flex: 1;
    width: 100%;
    margin: 1%;
    font-size: 2vw;
}

.example {
    padding: 1%;
    font-size: 2vw;
}

.seat-icon:not(.example)::after {
    padding: 1%;
    border-color: #47864F;
    color: #47864F;
    background-color: #A3C3A7;
    font-size: 2vw;
    transform: scale(1);
}

.premium {
    border-color: #7C3283;
    color: #7C3283;
    background-color: #BE98C1;
    font-size: 2vw;
}

.front {
    border-color: #396FAE;
    color: #396FAE;
    background-color: #9CB7D7
}

.wing {
    border-color: #BF4D40;
    color: #BF4D40;
    background-color: #E0AF5C;
}

#summary {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 70%;
    top: 0;
    left: 0;
    justify-self: center;
    align-self: center;
    margin: 13%;
    padding: 2%;
    font-size: 3vw;
    z-index: 1;
}

#sum {
    display: block;
    flex: 1;
    font-size: 3vh;
    padding: 1%;
    border-style: solid;
    border-color: #E5E5E5;
    background-color: #FFFFFF;
    color: #6C737E;
    border-radius: 5px;
    cursor: pointer;
}

#offline {
    color: #FFFFFF;
    background-color: #283F94;
}

#map {
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0%;
}

#meals {
    display: flex;
    flex-direction: row;
}

#checkIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkInBtn {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3%;
}

.radio{
    display: none;
}